.signup-wrapper{
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}
.signup-wrapper>label{
    justify-self: end;
    align-self: center;
    font-size: 1.5em;
    padding-right: 15px;
}
.signup-wrapper>input{
    justify-self: start;
    align-self: center;
    height: 30%;
    width: 80%;
    background-color: rgb(170, 246, 164);
    font-size: 1.2em;
}
